* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 12px;
    margin: 25px;
    font-weight: 300;
    color: #474747;
}

:focus {
    outline: 0;
}

img {
    border: 0;
    vertical-align: middle;
}

h1 {
    margin: 0 0 5px 4px;
    font-size: 66px;
    font-weight: 300;
}

h1 em {
    font-size: 22px;
}

ul.gallery-view {
    overflow: hidden;
    height: 1%;
    font-size: 0;
}

li.gallery-item-view {
    list-style: none;
    float: left;
    width: 128px;
    height: 128px;
    border: 4px solid white;
    overflow: hidden;
}

li.gallery-item-view:hover {
    border: 4px solid red;
}

input#search-box-input {
    font-family: 'Roboto';
    font-size: 26px;
    font-weight: 300;
    padding: 5px 10px;
    margin: 0 0 5px 4px;
}